{{ define "body-class" }} article-page {{end}} {{ define "main" }}
<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/header" . }}

    <section class="article-content">
        {{ $experiences := where .Site.RegularPages "Section" "experience" }}
        {{ $items := slice }}

        {{ range $p := $experiences }}
        {{ $hasOpenJob := false }}
        {{ $latestStart := time "0001-01-01" }} {{/* valor por defecto */}}

        {{ range $p.Params.jobs }}
        {{ if not .end }}
        {{ $hasOpenJob = true }}
        {{ end }}
        {{ $startTime := time .start }}
        {{ if gt $startTime $latestStart }}
        {{ $latestStart = $startTime }}
        {{ end }}
        {{ end }}

        {{ $items = $items | append (dict "page" $p "latestStart" $latestStart "hasOpenJob" $hasOpenJob) }}
        {{ end }}

        {{ $sorted := sort (sort $items "latestStart" "desc") "hasOpenJob" "desc" }}

        {{ range $item := $sorted }}
        {{ $exp := $item.page }}

        <div>
            <h3 style="display: flex; align-items: center; gap: 0.75em;">
                {{- $image := partialCached "helper/image" (dict "Context" $exp "Type" "experience") $exp.RelPermalink
                "experience" -}}
                {{ if $image.exists }}
                {{ if $image.resource }}
                <img src="{{ $image.resource.RelPermalink }}" alt="Logo {{ $exp.Title }}"
                    style="height: 40px; width: 40px;" />
                {{ else }}
                <img src="{{ $image.permalink }}" alt="Logo {{ $exp.Title }}" style="height: 40px; width: 40px;" />
                {{ end }}
                {{ end }}
                {{ $exp.Title }}
            </h3>
        </div>
        {{ range $job := $exp.Params.jobs }}

        {{ $start := time $job.start }}
        {{ $end := now }}
        {{ if $job.end }}
        {{ $end = time $job.end }}
        {{ end }}


{{ $years := div (sub $end.Unix $start.Unix) 31556926 }}
{{ $months := mod (div (sub $end.Unix $start.Unix) 2629743) 12 }}

{{ $duration := slice }}

{{ if gt $years 0 }}
  {{ $duration = $duration | append (i18n "duration.year" (dict "Count" $years)) }}
{{ end }}

{{ if gt $months 0 }}
  {{ $duration = $duration | append (i18n "duration.month" (dict "Count" $months)) }}
{{ end }}

        <div style="margin: 1em 0 2em 0; padding-left: 1em; border-left: 2px solid var(--accent-color);">
            <p class="article-title" style="margin: 0; font-weight: bold;">{{ $job.title }}</p>

            <p class="article-subtitle">
                {{ time $job.start | time.Format "January 2006" }} -
                {{ if $job.end }}
                {{ time $job.end | time.Format "January 2006" }}
                {{ else }}
                {{ i18n "present" }}
                {{ end }} · {{ delimit $duration " " }}
            </p>

            <p style="margin: 0.5em 0;">{{ $job.description }}</p>

            {{/* {{ with $job.skills }}
            <p style="margin: 0.5em 0; font-size: 0.9em; color: #555;">
                <strong>Skills:</strong> {{ delimit . ", " }}
            </p>
            {{ end }} */}}
        </div>
        {{ end }}
        {{ end }}

    </section>

</article>

{{ partialCached "footer/footer" . }}
{{ end }}