<section class="article-content">
  {{ if .Params.video }}
    {{ $.Page.RenderString (print "{{< youtube id=\"" .Params.video "\">}}") }}
  {{ end }}

  {{ $hasDownloads := or .Params.itch (and .Params.repo (default true .Params.githubDownload)) }}
  {{ if $hasDownloads }}
    <h3>{{ i18n "downloads" }}</h3>
    <div class="download-section">
      {{ with .Params.itch }}
        {{ partial "itchio/widget.html" . }}
      {{ end }}

      {{ if and .Params.repo (default true .Params.githubDownload) }}
        <a href="https://www.github.com/{{ .Params.repo }}/releases/latest" target="_blank" rel="noopener" class="github-download-button">
          {{ partial "helper/icon" "brand-github" }}
          {{ i18n "download_github" }}
        </a>
      {{ end }}
    </div>
  {{ end }}

  {{ if .Params.repo }}
    {{- $parts := split .Params.repo "/" -}}
    <h3>{{ i18n "repository" }}</h3>
    {{ partial "github-card.html" (dict "owner" (index $parts 0) "repo" (index $parts 1)) }}
  {{ end }}

  {{ if .Params.docker }}
  {{- $dockerParts := split .Params.docker "/" -}}
  <h3>{{ i18n "docker" }}</h3>
  {{ partial "docker-card.html" (dict "user" (index $dockerParts 0) "repo" (index $dockerParts 1)) }}
{{ end }}
</section>