<article>
    <a href="{{ .RelPermalink }}">
        <div class="article-details">
            <h2 class="article-title">
                {{- .Title -}}
            </h2>
            <footer class="article-time">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- .Date | time.Format ":date_long" -}}
                </time>
            </footer>
        </div>

        {{- $image := partialCached "helper/image" (dict "Image" .Params.image "Resources" .Resources) .RelPermalink
        "articleList" -}}
        {{ if $image }}
        <div class="article-image">
            {{ if $image.Resource }}
            {{- $Permalink := $image.Resource.RelPermalink -}}
            {{- $Width := $image.Resource.Width -}}
            {{- $Height := $image.Resource.Height -}}

            {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
            {{- $thumbnail := $image.Resource.Fill "120x120" -}}
            {{- $Permalink = $thumbnail.RelPermalink -}}
            {{- $Width = $thumbnail.Width -}}
            {{- $Height = $thumbnail.Height -}}
            {{- end -}}

            <img src="{{ $Permalink }}" width="{{ $Width }}" height="{{ $Height }}" alt="{{ .Title }}" loading="lazy">
            {{ else }}
            <img src="{{ $image.Permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{ end }}
        </div>
        {{ end }}
    </a>
</article>